<div id="articles">
	<% articles.each do |post| %>
	<hr />	
		<div id="article_<%= post.id %>" class="article">

			<h2><%= post.article_name %> </h2>

			<p class="article-date">
				<%= post.postdate.strftime("%A, %B %d, %Y") %>
			</p>

			<%= image_tag post.main_img_url, :class => "main" %>

			<p>
				<%= truncate(post.article_body, length: 500) { link_to "Read more", article_path(post.id) } %>
			</p>
			<div class="likes"> 
				<%= render('like', post: post) %>
			</div>
		</div>
	<% end %>
</div>