<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :article_name %>
    <%= form.text_field :article_name, id: :article_article_name %>
  </div>

  <div class="field">
    <%= form.label :article_body %>
    <%= form.text_area :article_body, id: :article_article_body %>
  </div>

  <div class="field">
    <%= form.label :article_type %>
    <%= form.text_field :article_type, id: :article_article_type %>
  </div>

  <div class="field">
    <%= form.label :upvotes %>
    <%= form.text_field :upvotes, id: :article_upvotes %>
  </div>

  <div class="field">
    <%= form.label :postdate %>
    <%= form.date_select :postdate, id: :article_postdate %>
  </div>

  <div class="field">
    <%= form.label :main_img_url %>
    <%= form.text_field :main_img_url, id: :article_main_img_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
