<%= button_to like_article_path(post), class: 'btn btn-like', :remote => true  do %>
	<%= fa_icon "heart" %>
<% end %>
<div class="like-num">
  <div class="likes">
		<%= post.upvotes %>
	</div>
</div>
