<div class="filter-buttons">

	<h5>Blog Filter:</h5>

	<%= button_to "All", blog_path, class: 'btn-filter all selected', method: :get, params: { filter: "" }, remote: true %>

	<%= button_to "Code", blog_path, class: 'btn-filter code', method: :get, params: { filter: "Code" }, remote: true %>

	<%= button_to "Lifestyle", blog_path, class: 'btn-filter life', method: :get, params: { filter: "Lifestyle" }, remote: true %>

</div>
	<!-- <button type="button" id="<%= @code_filter %>_filter" class="btn btn-secondary btn-code">
		Code
	</button>
	<button type="button" id="<%= @code_filter %>_filter" class="btn btn-secondary btn-life">
		Lifesyle
	</button> -->
<!-- </div> -->
<div class="articles">
	<%= render('blog', articles: @blog_articles) %>
</div>
