<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Article name</th>
      <th>Article body</th>
      <th>Article type</th>
      <th>Upvotes</th>
      <th>Postdate</th>
      <th>Main img url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.article_name %></td>
        <td><%= article.article_body %></td>
        <td><%= article.article_type %></td>
        <td><%= article.upvotes %></td>
        <td><%= article.postdate %></td>
        <td><%= article.main_img_url %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
