<p id="notice"><%= notice %></p>

<p>
  <strong>Article name:</strong>
  <%= @article.article_name %>
</p>

<p>
  <strong>Article body:</strong>
  <%= @article.article_body %>
</p>

<p>
  <strong>Article type:</strong>
  <%= @article.article_type %>
</p>

<p>
  <strong>Upvotes:</strong>
  <%= @article.upvotes %>
</p>

<p>
  <strong>Postdate:</strong>
  <%= @article.postdate %>
</p>

<p>
  <strong>Main img url:</strong>
  <%= @article.main_img_url %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
