<p id="notice"><%= notice %></p>

<div class="filter">
	<h5>Blog Filter:</h5>
	<button type="button" class="btn btn-secondary btn-code">
		Ruby on Rails
	</button>
	<button type="button" class="btn btn-secondary btn-life">
		Java
	</button>
</div>

<%= render('blog', articles: @tutorials) %>