<div class="card">
	<div class="card-header">
    	Recent Article
    </div>
    <div class="card-body">
    	<h2 class="card-title">
    		<%= @tutorial.article_name %>
    	</h2>
    	<p>
	    <medium class="text-muted">
	    	<%= @tutorial.postdate.strftime("%A, %B %d, %Y") %>
	    </medium>
  	</p>
    	<p class="card-text">
    	<%= truncate(@tutorial.article_body, length: 350) { link_to "Read more", article_path(@tutorial.id) } %>
    </p>
    </div>
</div>
</div>

<div class="row">
	<div class="col-sm-12 col-md-6">
		<div class="card">
		<!-- <img class="card-img-top" src="https://image.ibb.co/iGgh7n/code_faux_img.jpg" alt="Card image cap"> -->
		<%= image_tag @code_article.main_img_url, :class => "card-img-top" %>
		<div class="card-body">
	    <h5 class="card-title right">CODE</h5>
	    <h6 class="card-subtitle mb-2 text-muted">
	    	<%= @code_article.article_name %>
	    </h6>
	    <p>
		    <small class="text-muted">
	    		<%= @code_article.postdate.strftime("%A, %B %d, %Y") %>
	    	</small>
    	</p>
	    <p class="card-text">
	    	<%= truncate(@code_article.article_body, length: 350) { link_to "Read more", article_path(@code_article.id) } %>
	    </p>
	    <!-- <a href="#" class="card-link">Read more...</a> -->
	  </div>
	</div>
	</div>
	<div class="col-sm-12 col-md-6">
		<div class="card">
		<!-- <img class="card-img-top" src="https://image.ibb.co/kR5mYS/life_faux_img.jpg" alt="Card image cap"> -->
		<%= image_tag @life_article.main_img_url, :class => "card-img-top" %>
		<div class="card-body">
	    <h5 class="card-title right">LIFESTYLE</h5>
	    <h6 class="card-subtitle mb-2 text-muted">
	    	<%= @life_article.article_name %>
	    </h6>
	    <p>
		    <small class="text-muted">
	  			<%= @life_article.postdate.strftime("%A, %B %d, %Y") %>
	  		</small>
  		</p>
	    <p class="card-text">
	    	<%= truncate(@life_article.article_body, length: 350) { link_to "Read more", article_path(@life_article.id) } %>
	    </p>
	    <!-- <a href="#" class="card-link">Read more...</a> -->
	  </div>
	</div>
</div>
