<h2>Hi, my name is Mandi Matchett</h2>
<%= image_tag "me_old.jpg", :class => "rounded-circle col-xs-12 col-sm-4 d-block mx-auto" %>

	<h4>I am currently working on my MS in Applied Computer Science and will graduate in July 2018!</h4>
	<h5>My Past</h5>
	<p>
		As a teen and young adult my identity centered almost solely around my artistic side.  I studied art in many forms during my undergraduate education, including fashion design, art history, 2D and 3D art.  After studying abroad in Germany and learning the language I settled on a liberal arts degree that encompassed both my art and language studies.  <span class="highlight">In 2012 I graduated summa cum laude with a BA in Global Studies and a minor in German.</span>
	</p>
	<p>
		I strongly believe that the introduction of foreign language to my education was a game changer.  I still encourage all young people I meet to at least attempt a second language and to study abroad when the opportunity arises.  Learning a second language opened my mind and pushed me out of my comfort zone enough to teach me that it was a good thing!  My experiences abroad are always a reminder that I am capable of so much more than I or anyone else may think.  So far it's proved true!
	</p>
	<p>
		After graduating I opened myself to any opportunity that came my way.  Having been fairly broad in my education, I was not on a straight path, career-wise.  I worked in law, education, and even started a small, personal jewelry design business.  I learned a lot from each endeavor.  Turns out I'm not cut out to be a lawyer (this one didn't surprise me), I'm better with kids than I expected, and I'm pretty decent at making jewelry!  
	</p>
	<p>
		From these, and  many other lessons learned, I concluded that it was time to focus a bit and go back to school.  <span class="highlight">In August 2016 I began taking classes toward my MS in Applied Computer Science.</span>  I began the program with a solid career as my goal.  I figured I'd learn something new and stretch my comfort zone, once again.
	<h5>My Present</h5>
	<p>
		It was an interesting switch, that I was a little intimidated by at first, moving from the creative, right-brained mindset to the logical, analytical mindset necessary to pick up the basics of Object Oriented Programming.  Once I made the switch, it was refreshing to stretch my mind and learn something new and so functional, for lack of a better word.  
	</p>
	<p>
		One of my favorite things about creating jewelry, or any other art for that matter, is having the physical, finished product in your hand to wear.  Running my first Java program was that feeling times ten.  Every time I've finished a school project I call my fiance over and say, "Press this button!  Look what I made!"
	</p>
	<p>
		Early in my education I discovered web development and how much I enjoy the combination of creativity and logic.  I enjoyed front end design, but once I began learning back-end technologies my true love developed.  I learned the basics using a WAMP stack, but have since immersed myself in the fantastic framework that is Ruby on Rails.  Again, this type of development appeals to my creative side, my logical mindset, and also my love of being able to say, "Look at this!  I made it and you can use it!"
	</p>
	<p>
		In relation to web development, and really all development environments, I have also found a love of data and database technologies.  <span class="highlight">I am currently, as of April 2018, engaging in an internship as a Database Administrator.</span>  I have plenty of experience with SQL and limited experience with NoSQL and MongoDB.  I really enjoy the design of database schemas and 
	<h5>My Future</h5>
	<p>
		I will grate in July 2018 with my masters degree and look forward to moving (hopefully) smoothly By graduation I hope to have a full-time position as a Rails developer.  I am giddy with excitment about what the future will bring.  Life as already proven that you get back what you put in, and I'm putting everything I've got into this!  I truly look forward to what the future holds.
	</p>
	<p>
		On a more personal note, I am also getting married in October 2018.  I look forward to sharing that experience as part of my lifestyle blog <a href="#">here</a>!
	</p>
	<h4>A bit more about me...</h4>

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h5>I love a good hike!</h5>
				<div class="thumbnail">
				  <%= image_tag "sweetwater_pano.jpg", :class => "figure-img img-fluid rounded" %>
				  <div class="caption">
				  	Georgia has some great hiking spots.  You can find this spectacular view in Sweetwater State Park!
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<h5>I love to sew!</h5>
				<div class="thumbnail">
				  <%= image_tag "sewing.jpg", :class => "figure-img img-fluid rounded" %>
				  <div class="caption">
				  	I learned the basics of clothing construction while studying fashion design and have continued to improvise on my own.  I especially enjoy sewing vintage patterns or patterns of my own devise!
				  </div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-4">
			<h5>I love escape rooms!</h5>
				<div class="thumbnail">
				  <%= image_tag "escape_room.jpg", :class => "figure-img img-fluid rounded" %>
				  <div class="caption">
				  	A friend invited us to an escape room in 2014 and we've been hooked ever since.  Fun fact: Ty actually proposed at our favorite escape room.
				  </div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-4">
				<h5>I love hackathons!</h5>
				<div class="thumbnail">
				  <%= image_tag "hackathon.jpg", :class => "figure-img img-fluid rounded" %>
				  <div class="caption">
				  	This was my team at the #HackAgainstViolence hackathon in Atlanta--we won 3rd place!  I have since mentored a teen hackathon at UWG.  They are always intense but so much fun!
				  </div>
				</div>
			</div>
		</div>
	</div>
