/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

/***********/
/*** IDS ***/
/***********/

#container {
	position: relative;
	overflow: hidden;
	color: #000;
	font-family: 'Roboto', sans-serif;
}

#wrapper {
	width: 80% !important;
	margin: 0 auto;
	/*background-color: rgba(120,134,107, 0.3);*/
}

.body {	
	padding: 25px !important;
	margin-left: 200px !important;
	width: 80% !important;
	margin-bottom: 75px;
}

.float-fix {
	overflow: hidden;
}

/**************/
/*** HEADER ***/
/**************/

.logo-wrapper {
	width: 25%;
	display: block;
	margin: 0 auto;
}

.logo {
	width: 70px;
	display: block;
	margin: 0 auto;
	color: #cb4c78;
	padding: 10px;
}

.name-wrapper {
	display: block;
	margin: 20px !important;
	margin: 0 auto;
	text-align: center;
}

.codelily {
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 500px;
    font-size: 45px;
    padding: 5px !important;
    color: #CB4C78;
}

/**************/
/*** NAVBAR ***/
/**************/

.navbar-non-bs {
	text-align: center !important;
	margin-bottom: 25px;
}

.navbar-non-bs ul {
	list-style-type: none;
	margin: 0 !important;
	padding: 0 !important;
}

.navbar-non-bs a {
	text-decoration: none;
	color: #4d4e4f !important;
}

.navbar-non-bs li {
	display: inline !important;
	margin-right: 10px;
}

a:hover {
	background-color: #fff !important;
	color: #f9d !important;
	text-decoration: none;
}

/***************/
/*** SIDEBAR ***/
/***************/

.sidebar {
	float: left;
	width: 200px;
	padding: 15px !important;
	/*background-color: #e4e4e4;*/
	text-align: center;
	margin-bottom: 75px;
	min-height: 100vh;
}
.sidebar img {
	display: block;
	margin: 0 auto;
	width: 65%;
	border-radius: 50%;
	/*border: 2px solid black;*/
}
.sidebar .bioname {
	/*font-family: 'Roboto Slab', cursive !important;*/
	font-size: 17px;
}
.sidebar .bio {
	
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 20px auto 20px auto;
	border-top: thin solid #bbb;
}

/*a {
	color: gray !important;
}
a:hover {
	color: #C5829C !important;
	background-color: white !important;
}*/

.copyright {
	float: right;
	width: 45%;
	text-align: right;
	padding: .5rem 1rem;
}
/*ul.nav {
	width: 40%;
	float: left;
}*/
.btn-like {
	border-radius: 5px;
	border: none;
	padding-top: 8px;
}
.btn-like .fa-heart {
	padding: 5px;
}
.filter-buttons {
	width: 80%;
	margin: 0 auto;
}
.filter-buttons h5 {
	text-align: left;
	display: inline;
	margin: 20px 10px;
}
.button_to {
	display: inline-block;
}
.btn-filter {
	margin: 20px 10px;
	background-color: #bbb;
	border: none;
	padding: 10px;
	border-radius: 5px;
}
.selected {
	background-color: #C5829C;
	color: white;
	font-weight: bold;
	border: none;
}

.clicked {
	background-color: #C5829C;
	color: white;
}

/*************/
/*** OTHER ***/
/*************/

p {
	font-family: 'Roboto', sans-serif;
}

table {
	border-collapse: collapse;
	overflow: hidden;
}

.clear {
    clear: both;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
img {
	display: block;
	width: 100%;
}

h1 {
	font-family: 'Montserrat', serif;
}
h2 {
	text-align: left !important
	font-family: 'Roboto';
}

@media (max-width: 768px) {
	.card {
		margin: 0;
		width: 100%;
	}
	body {
		width: 100%;
		margin: 0 5px;
	}
	.footer {
		font-size: .75em;
		margin: 10px;
	}
}