// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.article {
	width: 80%;
	margin: 0 auto;
	.main {
		width: 100%;
	}
	h2 {
		text-align: left;
		margin: 25px 10px;
	}
	.likes {
		text-align: right;
		color: #bbb;
		margin: 0 10px;
		.fa-heart {
			padding: 0 5px;
			
		}
		button:hover {
			color: red;
		}
	}
	button:focus {
		outline: none;
	}
	.article-date {
		margin: 10px 25px;
	}
}