// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
	.lily-img {
		display: block;
		margin: 0 auto;
		width: 75px;
		height: auto;
	}
	a {
		text-decoration: none;
		color: #C5829C !important;
		font-weight: bold;
	}
	.codelily {
		display: block;
		margin: 0 auto 25px auto;
		text-align: center;
		font-family: 'PT Mono';
		color: #C5829C;
		font-weight: bold;
		border-bottom: thin solid #bbb;
		padding: 0 0 20px 0;
	}
}
.navbar {
	background-color: #fff;
	border-bottom: thin solid #bbb;
	padding: 0 0 20px 0;
	font-family: 'Open Sans', sans-serif !important;
	a.nav-link:hover {
		color: #C5829C !important;
	}
	button {
		border: thin solid #bbb;
		color: black;
		&:hover {
			border: thin solid #C5829C;
			background-color: white;
			color: black;
		}
	}

}
.jumbotron {
	background-color: #f2e6ea !important;
}
.card {
	margin: 25px;

}
.right {
	text-align: right !important;
	margin: 0 0 25px 0 !important;
}
@media (max-width: 768px) {
	.card {
		margin: 0;
		width: 100%;
	}
}