// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2, h4, h5 {
	text-align: center;
	margin: 25px;
}
p {
	margin: 10px;
}
.col-md-4 {
	margin: 0 !important;
}