<header>
  <div class="logo-wrapper">
    <%= image_tag "lotus-flower", class: "logo" %>
  </div>

  <div class="name-wrapper">
    <span class="codelily">codelily</span>
    <!-- <span class="lily">lily</span> -->
  </div>
</header>

