<div class="navbar-non-bs">
  <ul>
    <li><%= link_to "home", "/" %></li>
    <li>|</li>
    <li><%= link_to "about", root_url + "pages/about" %></li>
    <li>|</li>
    <li><a href=#>tech</a></li>
    <li>|</li>
    <li><a href=#>lifestyle</a></li>
    <li>|</li>
    <li><a href=#>relationship</a></li>
    <li>|</li>
    <li><a href=#>career</a></li>
    <li>|</li>
    <li><a href=#>hobby</a></li>
  </ul> 
</div>