<div class="sidebar">
<img class="biopic" src="<%= asset_path('biopic.jpg') %>">
      <p><span class="bioname">Mandi Gunningham</span></p>
      <p><span class="bio">
      	A rennaissance woman trying to live a balanced life. <br><br>
      	Coder. Wife. Creative. Cat Mom.<br><br>
      	Lover of fasion, tech, travel, and games.<br><br>
      	<%= link_to "More about me...", root_url + "pages/about" %>
      </span></p>
  </div>